<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARTEIRA DE INVESTIMENTOS</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="app" class="container">

        <div class="row mb-5 text-center">
            <div class="col">
                <h1 class="display-5 fw-light text-primary">💼 CARTEIRA DE INVESTIMENTOS</h1>
                <p class="text-muted text-uppercase tracking-wider">GERENCIE SEUS FILL'S COM PRATICIDADE</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6"> 

                <h1>CADASTRO DE ATIVOS</h1>

                <form action="#" method="post" @submit.prevent="salvar()">

                    <label for="ativo">ATIVO:</label>
                    <input type="text" class="form-control mb-2" v-model="ativo" pattern="[A-Za-z0-9]+">

                    <label for="cotas">COTAS:</label>
                    <input type="number" class="form-control mb-2" v-model.number="cotas">

                    <label for="precoMedio">PREÇO MÉDIO:</label>
                    <input type="number" class="form-control mb-2" v-model.number="precoMedio" min="0" step="0.01">

                    <div v-if="verificar()">
                        <button class="btn btn-primary">SALVAR</button>                        
                    </div>
                    <div v-else>
                        <button class="btn btn-secondary" disabled>SALVAR</button>
                    </div>

                </form>

            </div>

            <div class="col-md-6">

                <h1>FUNDOS IMOBILIÁRIOS</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>CÓDIGO</th>
                            <th>ATIVO</th>
                            <th>COTAS</th>
                            <th>PREÇO MÉDIO</th>
                            <th>ALTERAR</th>
                            <th>EXCLUIR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(fundo, posicao) in listaAtivos">
                            <td>{{ fundo.codigo }}</td>
                            <td>{{ fundo.ativo }}</td>
                            <td>{{ fundo.cotas }}</td>
                            <td>R$ {{ String(fundo.precoMedio).replace('.',',') }}</td>
                            <td>
                                <a href="#" class="btn btn-warning" @click="alterar(posicao)">ALTERAR</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger" @click="excluir(posicao)">EXCLUIR</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        class Fundo {
            constructor(codigo, ativo, cotas, precoMedio) {
                this.codigo = codigo
                this.ativo = ativo
                this.cotas = cotas
                this.precoMedio = precoMedio
            }
        }

        let app = new Vue({
            el: '#app',
            data: {
                codigo: 1,
                ativo: '',
                cotas: '',
                precoMedio: '',
                posicao: -1, 
                listaAtivos: []
            },
            methods: {
                salvar: function() {

                    if (this.posicao != -1) {
                        let fundoEditado = this.listaAtivos[this.posicao]
                        fundoEditado.ativo = this.ativo.toUpperCase()
                        fundoEditado.cotas = this.cotas
                        fundoEditado.precoMedio = Number(this.precoMedio).toFixed(2)
                    } 
                    else {
                        let posicaoExistente = this.listaAtivos.findIndex(fundo => fundo.ativo.toUpperCase() == this.ativo.toUpperCase()) //Verifica se existe na lista

                        if (posicaoExistente != -1) { //se existir

                            let fundoExistente = this.listaAtivos[posicaoExistente] //assumi o codigo ja existente

                            let cotasTotais = fundoExistente.cotas + this.cotas //soma as cotas ja cadastradas com a nova entrada

                            let precoMedioTotal = ((fundoExistente.cotas * fundoExistente.precoMedio)+(this.cotas * this.precoMedio)) / cotasTotais //faz uma media ponderada para descobrir o preço medio

                            fundoExistente.cotas = cotasTotais //atualiza o numero de cotas
                            fundoExistente.precoMedio = precoMedioTotal.toFixed(2) //atualiza o preco medio deixando apenas 2 casas decimais depois da virgula
                        }
                        else {

                            let fundo = new Fundo(this.codigo, this.ativo.toUpperCase(), this.cotas, this.precoMedio)

                            this.listaAtivos.push(fundo)

                            this.codigo++
                        }

                    }
                    this.armazenar()
                    this.limpar()
                },
                verificar: function() {
                    return this.codigo != '' && this.ativo != '' && this.cotas != '' && this.precoMedio != ''
                },
                limpar: function() {
                    this.posicao = -1
                    this.ativo = ''
                    this.cotas = ''
                    this.precoMedio = ''
                },
                alterar: function(posicao) {
                    this.posicao = posicao
                    this.codigo = this.listaAtivos[posicao].codigo
                    this.ativo = this.listaAtivos[posicao].ativo
                    this.cotas = this.listaAtivos[posicao].cotas
                    this.precoMedio = this.listaAtivos[posicao].precoMedio
                },
                excluir: function(posicao) {
                    if (confirm('Tem certeza que deseja excluir?')) {
                        this.listaAtivos.splice(posicao, 1)
                        this.armazenar()
                    }
                },
                armazenar: function() {
                    localStorage.setItem('listaAtivos', JSON.stringify(this.listaAtivos))
                },
                carregar: function() {
                    let dados = localStorage.getItem('listaAtivos')
                    if (dados != null) {
                        this.listaAtivos = JSON.parse(dados)

                        this.listaAtivos.forEach(fundo => {
                            if (fundo.codigo >= this.codigo) {
                                this.codigo = fundo.codigo + 1
                            }
                        })
                        
                    }
                }
            },
            created() {
                this.carregar()
            }

        }) 

    </script>
</body>
</html>