<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CARTEIRA DE INVESTIMENTOS</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="vue.js"></script>

</head>

<body>

    <div id="app" class="container my-5"> 
        <div class="row mb-5 text-center">

            <div class="col " >
                <h1 class="display-5 fw-light text-primary">💼 CARTEIRA DE INVESTIMENTOS</h1>
                <p class="text-muted text-uppercase tracking-wider">GERENCIE SEUS FILL'S COM PRATICIDADE</p>
            </div>

        </div>

        <div class="row"> 
            <div class="col-md-4"> 
                <div class="card shadow-lg mt-4"> 

                    <div class="card-header"> 
                        <h4 class="text-center text-secondary" >CADASTRO DE ATIVOS</h4>
                    </div> 

                    <div class="card-body"> 
                        <form action="#" method="post" @submit.prevent="salvar()">

                            <div class="mb-3 ">
                                <label for="ativo">ATIVO:</label>
                                <input type="text" class="form-control" v-model="ativo" pattern="[A-Za-z0-9]+" placeholder="EX: GARE11">
                            </div>

                            <div class="mb-3">
                                <label for="cotas">COTAS:</label>
                                <input type="number" class="form-control" v-model.number="cotas" placeholder="0">
                            </div>

                            <div class="mb-3">
                                <label for="precoMedio">PREÇO MÉDIO:</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-dark-subtle fw-bold text-secondary">R$</span>
                                    <input type="number" class="form-control" v-model.number="precoMedio" min="0" step="0.01" placeholder="0,00">
                                </div>
                            </div>

                            <div v-if="verificar()">
                                <button class="btn btn-primary btn-sm">SALVAR</button>
                                <!-- <button class="btn btn-danger btn-sm" v-if="posicao != -1" @click="limpar()">CANCELAR</button> -->
                            </div>
                            <div v-else>
                                <button class="btn btn-secondary btn-sm" disabled>SALVAR</button>
                                <!-- <button class="btn btn-danger btn-sm" v-if="posicao != -1" @click="limpar()">CANCELAR</button> -->
                            </div>

                        </form>
                    </div> </div> </div>

            <div class="col-md-8">

                <div class="card shadow-lg mt-4">

                    <div class="card-header"> 
                        <h4 class="text-center text-secondary">FUNDOS IMOBILIÁRIOS</h4>
                    </div>

                    <div class="card-body"> 

                        <div class="table-responsive">

                            <table class="table table-striped table-hover align-middle">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-secondary">CÓDIGO</th>
                                        <th class="text-secondary">ATIVO</th>
                                        <th class="text-secondary">COTAS</th>
                                        <th class="text-secondary">PREÇO MÉDIO</th>
                                        <th class="text-secondary">VALOR DE MERCADO</th>
                                        <th class="text-secondary" colspan="2">AÇÕES</th> </tr>
                                </thead>

                                <tbody>
                                    <tr class="text-center" v-for="(fundo, posicao) in listaAtivos">
                                        <td>{{ fundo.codigo }}</td>
                                        <td>{{ fundo.ativo }}</td>
                                        <td>{{ fundo.cotas }}</td>
                                        <td>R$ {{ String(fundo.precoMedio).replace('.',',') }}</td>
                                        
                                        <td class="fw-bold">
                                            <span v-if="cotacoesAtuais[fundo.ativo] === null" class="text-warning small">Restrito (Free)</span>
                                            <span v-else-if="cotacoesAtuais[fundo.ativo]">R$ {{ String(cotacoesAtuais[fundo.ativo].toFixed(2)).replace('.',',') }}</span>
                                            <span v-else>Carregando...</span>
                                        </td>

                                        <td>
                                            <a href="#" class="btn btn-warning btn-sm" @click="alterar(posicao)">ALTERAR</a>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-danger btn-sm" @click="excluir(posicao)">EXCLUIR</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        class Fundo {
            constructor(codigo, ativo, cotas, precoMedio) {
                this.codigo = codigo
                this.ativo = ativo
                this.cotas = cotas
                this.precoMedio = precoMedio
            }
        }

        let app = new Vue({
            el: '#app',
            data: {
                codigo: 1,
                ativo: '',
                cotas: '',
                precoMedio: '',
                posicao: -1, 
                listaAtivos: [],
                cotacoesAtuais: {} // Guarda o preço de mercado
            },
            methods: {
                salvar: function() {

                    if (this.posicao != -1) {
                        let fundoEditado = this.listaAtivos[this.posicao]
                        fundoEditado.ativo = this.ativo.toUpperCase()
                        fundoEditado.cotas = this.cotas
                        fundoEditado.precoMedio = Number(this.precoMedio).toFixed(2)
                    } 
                    else {
                        let posicaoExistente = this.listaAtivos.findIndex(fundo => fundo.ativo.toUpperCase() == this.ativo.toUpperCase()) //Verifica se existe na lista

                        if (posicaoExistente != -1) { //se existir

                            let fundoExistente = this.listaAtivos[posicaoExistente] //assumi o codigo ja existente

                            let cotasTotais = fundoExistente.cotas + this.cotas //soma as cotas ja cadastradas com a nova entrada

                            let precoMedioTotal = ((fundoExistente.cotas * fundoExistente.precoMedio)+(this.cotas * this.precoMedio)) / cotasTotais //faz uma media ponderada para descobrir o preço medio

                            fundoExistente.cotas = cotasTotais //atualiza o numero de cotas
                            fundoExistente.precoMedio = precoMedioTotal.toFixed(2) //atualiza o preco medio deixando apenas 2 casas decimais depois da virgula
                        }
                        else {

                            let fundo = new Fundo(this.codigo, this.ativo.toUpperCase(), this.cotas, this.precoMedio)

                            this.listaAtivos.push(fundo)

                            this.codigo++
                        }

                    }
                    this.armazenar()
                    this.buscarCotacoes() // Atualiza os preços após salvar uma inclusão ou alteração
                    this.limpar()
                },
                verificar: function() {
                    return this.codigo != '' && this.ativo != '' && this.cotas != '' && this.precoMedio != ''
                },
                limpar: function() {
                    this.posicao = -1
                    this.ativo = ''
                    this.cotas = ''
                    this.precoMedio = ''
                },
                alterar: function(posicao) {
                    this.posicao = posicao
                    this.codigo = this.listaAtivos[posicao].codigo
                    this.ativo = this.listaAtivos[posicao].ativo
                    this.cotas = this.listaAtivos[posicao].cotas
                    this.precoMedio = this.listaAtivos[posicao].precoMedio
                },
                excluir: function(posicao) {
                    if (confirm('Tem certeza que deseja excluir?')) {
                        this.listaAtivos.splice(posicao, 1)
                        this.armazenar()
                    }
                },
                armazenar: function() {
                    localStorage.setItem('listaAtivos', JSON.stringify(this.listaAtivos))
                },
                carregar: function() {
                    let dados = localStorage.getItem('listaAtivos')
                    if (dados != null) {
                        this.listaAtivos = JSON.parse(dados)

                        this.listaAtivos.forEach(fundo => {
                            if (fundo.codigo >= this.codigo) {
                                this.codigo = fundo.codigo + 1
                            }
                        })
                        
                    }
                },
                buscarCotacoes: function() {
                    if (this.listaAtivos.length === 0) return; // Verifica se existe algum fundo na lista, se não ele trava e nao executa, se sim ele executa

                    // Executa consultas individuais da API ativo por ativo
                    this.listaAtivos.forEach(fundo => { // Vai linha por linha na lista
                        let ticket = `${fundo.ativo.toUpperCase()}.SA`; // Coloca tudo em maiusculo e coloca o .SA no final para o Brapi aceitar
                        let url = `https://brapi.dev/api/quote/${ticket}?token=1kh37pATagMxSEBULc66E4`; // Endpoint e token de acesso para as informações

                        fetch(url)
                            .then(response => { // Pega o retorno da api
                                if (!response.ok) { // Se der erro, joga pro .catch la embaixo
                                    throw new Error(`Erro ${response.status}`);
                                }
                                return response.json(); // Se estiver ok, converte e salva a resposta em json
                            })
                            .then(dados => { // Acesso aos dados convertidos
                                if (dados && dados.results && dados.results[0]) { // Verifica se veio como os dados da resposta da API
                                    let resultado = dados.results[0]; // Isola o primeiro item retornado para ter acesso as informações como o preço.
                                    let nomeLimpo = resultado.symbol.replace('.SA', ''); // Tira o .SA do nome do ativo
                                    let preco = resultado.regularMarketPrice; // Separa o preco da cota em tempo real
                                    
                                    // Adiciona ao escopo do Vue respeitando os dados
                                    Vue.set(this.cotacoesAtuais, nomeLimpo, preco);
                                }
                            })
                            .catch(error => {
                                console.warn(`⚠️ O ativo ${fundo.ativo} retornou erro ou restrição na API.`);
                                // Define o erro como null para que o HTML retire o estado "Carregando..." e exiba a mensagem amigável
                                if (this.cotacoesAtuais[fundo.ativo] === undefined) {
                                    Vue.set(this.cotacoesAtuais, fundo.ativo, null);
                                }
                            });
                    });
                }
            },
            created() {
                this.carregar()
                this.buscarCotacoes() // Consulta as cotações assim que carregar
            }

        }) 

    </script>
</body>
</html>